extends layout

block content
    div.main-part.pageTitle
        h1.pageTitle Dodaj Artykuł
    .main-part.subPage
        form(action="/articles/add", method="POST")
            .form-group
                label Tytuł:
                input.form-control(name="title", type="text")
            .form-group
                label Treść:
                textarea.form-control.form-wider(name="content")
            input.btn.btn-submit(type="submit", value="Dodaj")