extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Artykuły: #{ucfirst(user.username)}
    .main-part.subPage
        .tableSection
            div(class='tableHead col-1-2')
                span Data
                span Tytuł
            each article, i in articles
                if article.displayed
                    div(class='tableRow col-1-2')
                        span #{polishDate(article.date)}
                        span
                            a(href='/articles/'+article._id)= article.title

