doctype html
html
    head(lang='pl')
        title First
        link(rel='stylesheet' link='css/style.css')
    body
        .container
            block content
        footer
            p Copyright &copy; 2019
