doctype html
html
    head(lang='pl')
        title First
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar
            .container
                a.navtitle(href='/') First
                a.navlink(href='/') Strona główna
                .navlink-right
                    a.navlink(href='/users/login') Logowanie
                    a.navlink(href='/users/register') Rejestracja

        main.container-body
            != messages('message', locals)
            block content
            footer
                hr
                p Copyright &copy; 2019
