doctype html
html
    head(lang='pl')
        title First
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500,700|Open+Sans:400,500,700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
    body
        .container
            header
                .logo First
                .sublogo Testowy CMS'ik
                nav.navbar
                    a.navlink.nav-left(href='/') Strona główna
                    if user
                        if user.type!='5d430b20b6d4219b1d45893c'
                            a.navlink(href='/articles/add') Dodaj artykuł
                    a.navlink(href='/users/list') Lista użytk.
                    div.nav-right
                        if user
                            a.navlink(href='/users/'+user._id) Mój profil
                            form(action='/users/logout', method='POST')
                                input.navlink(type='submit', value='Wyloguj')
                        else
                            a.navlink(href='/users/login') Logowanie
                            a.navlink(href='/users/register') Rejestracja

            main
                != messages('message', locals)
                if errors
                    each error, i in errors
                        div(class="alert alert-error") #{error.msg}
                block content
                footer
                    hr
                    p Copyright &copy; 2019
script(src='https://cdn.tiny.cloud/1/mjrb0jf1ck0e4or6opcmg1lfcjjhie6eslekt87ldt3by3ht/tinymce/5/tinymce.min.js')
script.
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://maides.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  tinymce.init({selector:'textarea.form-wider',
                plugins : 'advlist autolink link image lists charmap print preview hr autoresize wordcount insertdatetime',
                toolbar: 'undo redo | styleselect | bold italic underline | fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist | link image | outdent indent | ImageLeft',
                autoresize_overflow_padding: 50,
                min_height: 1000,
                toolbar_drawer: 'floating',
                style_formats: [
                                {
                                    title: 'Image Left',
                                    selector: 'img',
                                    styles: {
                                        'float': 'left', 
                                        'margin': '0 10px 0 10px'
                                    }
                                },
                                {
                                    title: 'Image Right',
                                    selector: 'img', 
                                    styles: {
                                        'float': 'right', 
                                        'margin': '0 0 10px 10px'
                                    }
                                },
                                {
                                    title: 'Image None',
                                    selector: 'img',
                                    styles: {
                                        'margin': '0',
                                        'float': 'none'
                                    }
                                }
                            ]
                });
noscript
  | Please enable JavaScript to view the 
  a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
