doctype html
html
    head(lang='pl')
        title First
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar
            .container
                a.navtitle(href='/') First
                a.navlink(href='/') Strona główna
                .navlink-right
                    if user
                        form(action='/users/logout', method='POST')
                            input.navlink-btn(type='submit', value='Wyloguj')
                    else
                        a.navlink(href='/users/login') Logowanie
                        a.navlink(href='/users/register') Rejestracja

        main.container-body
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-error") #{error.msg}
            block content
            footer
                hr
                p Copyright &copy; 2019
