extends layout

block content
    div.main-part.pageTitle
        h1.pageTitle Nadaj banicje użytkownikowi #{ucfirst(user.username)}
    .main-part.subPage
        form(action="/users/"+user._id.toString()+"/action/ban", method="POST")
            .form-group
                label Powód:
                input.form-control(name="reason", type="text")
            .form-group
                label Długość:
                select.form-control.h35(name="length")
                    option(value="day") 24h
                    option(value="2days") 48h
                    option(value="week") Tydzień
                    option(value="2weeks") 2 tygodnie
                    option(value="month") Miesiąc
                    option(value="perm") Na zawsze
            input.btn.btn-submit(type="submit", value="Dodaj")
            a.btn.btn-edit(href="/users/"+user._id.toString()) Wróć