extends layout

block content
    h1 Rejestracja
    form(action="/users/register", method="POST")
        .form-group
            label Nazwa użytkownika:
            input.form-control(name="name", type="text")
        .form-group
            label Email:
            input.form-control(name="name", type="text")
        .form-group
            label Hasło:
            input.form-control(name="name", type="text")
        .form-group
            label Powtórz hasło:
            input.form-control(name="name", type="text")
        input.btn-submit(type="submit", value="Zarejestruj")