html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #f5f4ef;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: #c74350;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.tableSection {
  padding: 20px 15px;
}

.tableRow {
  color: grey;
}

.tableRow span, .tableHead span {
  display: inline-block;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  border-right: 1px solid #dadada;
  text-align: center;
}

.tableRow span:last-child, .tableHead span:last-child {
  border-right: 0;
}

.tableRow:nth-child(even) {
  background-color: #f6e0e2;
}

.tableHead span {
  color: white;
  font-weight: bold;
  background-color: #c74350;
}

.col-5 span {
  width: 19.91%;
}

.col-4 span {
  width: 24.91%;
}

.col-3 span {
  width: 33.26%;
}

.col-2 span {
  width: 49.91%;
}

.col-1-2 span:first-child {
  width: 20%;
}

.col-1-2 span:last-child {
  width: 79.89%;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

.navbar input {
  font-family: inherit;
  text-transform: inherit;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  height: 16px;
  line-height: 16px;
  overflow: auto;
}

.navlink {
  border: 0;
  background-color: transparent;
  color: white;
  width: 115px;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  float: left;
}

.navlink:hover {
  background-color: #c74350;
}

.nav-right {
  width: 290px;
  float: right;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-part {
  border-radius: 5px;
  margin: 20px 0;
}

.subPage {
  padding: 30px 15px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

footer p {
  font-style: italic;
  font-size: 14px;
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.logo, .sublogo {
  font-family: 'Lato', sans-serif;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  padding: 30px 0px 5px 15px;
}

.sublogo {
  font-size: 30px;
  padding: 0px 0px 30px 15px;
}

.article-left {
  padding: 35px 0px 30px 15px;
  width: calc(20% - 15px);
  float: left;
}

.article-left p {
  margin: 0;
}

.home-article {
  overflow: auto;
  border-bottom: 1px solid #eeeeee;
}

.home-article p {
  margin: 0;
}

.home-article:last-child {
  border: 0;
}

.article-right {
  padding: 35px 10px 30px 15px;
  width: calc(80% - 25px);
  float: left;
}

.article-right h2 {
  margin: 0;
  padding-bottom: 5px;
}

.home-article-title {
  font-size: 21px;
  text-decoration: none;
}

.pageTitle {
  padding: 5px 10px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Lato';
  color: #c74350;
}

.home-article-content {
  white-space: pre-line;
  padding-bottom: 15px;
}

.form-group {
  padding: 5px 0;
}

.form-control {
  width: calc(100% - 10px);
  background-color: #f3f3f3;
  height: 20px;
  padding: 5px 5px;
  margin-top: 8px;
  border-radius: 3px;
  border: 1px solid #c74350;
}

.form-wider {
  height: 250px;
}

.form-select {
  margin: 5px 10px;
  height: 40px;
}

#deleteForm {
  margin-left: 10px;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  margin: 15px 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:first-of-type {
  margin-left: 0;
}

.btn-edit {
  background-color: #59b5e0;
  border: 1px solid #2c596e;
}

.btn-edit:hover {
  background-color: #3d7d9b;
}

.btn-danger {
  background-color: #f33737;
  border: 1px solid #2b030a;
}

.btn-danger:hover {
  background-color: #a52f2f;
}

.btn-submit {
  background-color: #c74350;
  border: 1px solid #741821;
}

.btn-submit:hover {
  background-color: #571a20;
}

.btn-right {
  float: right;
}

.pageButton {
  display: inline-block;
  background-color: #c7c7c7;
  color: black;
  font-size: 15px;
  margin: 0px 2px;
  padding: 3px;
  text-decoration: none;
}

.currentPage {
  background-color: #c74350;
}

.logsSection {
  padding: 10px;
  background-color: white;
}

.articleLogs {
  color: grey;
  margin: 8px 0;
}

.articleLogs span {
  display: inline-block;
  min-width: 180px;
  padding: 0px 10px;
}

.alert {
  position: relative;
  padding: 12px 20px;
  margin: 10px 0px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg, .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.searchBar {
  padding: 10px 0px 30px 0px;
}

.searchBar .searchTxt {
  padding: 6px 6px 6px 12px;
  margin-top: 8px;
  font-size: 17px;
  width: 90px;
  background-color: #faa2ab62;
  border: none;
  border-radius: 12px 0px 0px 12px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  outline: none;
}

.searchBar .searchTxt:focus {
  width: 200px;
  padding: 5px 5px 5px 12px;
  border: 1px solid #c74350;
}

.searchBar button {
  padding: 6px 12px 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #c74350;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0px 12px 12px 0px;
}

.searchBar button:hover {
  background: #571a20;
}

.h35 {
  height: 35px;
}

.userInfo, .userLogs, .userArticles {
  padding: 20px 15px;
}

.userProfileTitle {
  border-bottom: 1px solid #eeeeee;
  padding: 0px 0px 10px 10px;
  font-size: 19px;
}

.userArticles .title {
  width: 79%;
}

.userInfo span {
  display: inline-block;
  width: 100px;
}

.userInfo .info {
  text-align: right;
  padding-right: 10px;
}

.infoRow {
  margin-top: 10px;
}

.infoRow:first-child {
  margin: 0;
}

.type-journalist, .type-admin, .type-moderator, .type-user {
  font-weight: bold;
}

.type-journalist {
  color: blue;
}

.type-admin {
  color: red;
}

.type-moderator {
  color: green;
}

.type-user {
  color: black;
}
/*# sourceMappingURL=style.css.map */